--- 
layout: default 
---

<style type="text/css">
	
	.home{
		display: flex;
		flex-direction: column;
		width:100%;
		height:100%;
		justify-content: flex-start;
		align-items: flex-start;
		margin-top: 40px;
	}

	.home .jumbotron{
		width:100%;
		height:auto;
		border: 4px solid black;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-self:center;
		text-align: center;
	}
</style>

<div class="home">
	<div class="jumbotron">
		<div><h2>Hello. I'm a boilerplate</h2></div>
	</div>
</div>